/*----------------------
Universal Styling
  -------------*/
*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  padding: 100px;
}

p{
  background-color: white;
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: left;
  overflow: scroll;
}

section.about-new-girl{
  display: block;
  background-color: white;
  border-radius: 20px;
  border-style: dotted;
  border-width: 3px;
  padding: 10px;
  max-width: 500px;
}

section.overview{
  display: block;
  background-color: white;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  margin: 5px;
  padding: 10px;
  max-width: 500px;
}

section.characters{
  display: block;
  background-color: white;
  border-radius: 20px;
  border-style: dotted;
  border-width: 3px;
  margin: 5px;
  padding: 10px;
  max-width: 500px;
}

nav a:hover {
    background: pink;
}


  /*----------------------
Font CSS
  -------------*/

@font-face {
  font-family: 'cashews';
  src: url('../fonts/cashews.ttf') format('truetype');
}

font-family{
  font-family: 'opensans-regular', sans-serif;
}


/*---------------
Nav css
---------------*/
nav{
  background: white;
  list-style-type: none;
  padding: 0;
  }

li {
      display: inline;
      padding: 5px;
  }
/*----------
Body css
------*/

section.about-new-girl h1{
  margin: 30px 0px 0px 10px;
}

section.about-new-girl {
  margin: 50px 0px 0px 5px;
  display: block;
  background-color: white;
  padding: 10px;
}

section.about-new-girl img {
    position: absolute;
    object-fit: cover;
    top: 120px;
    z-index: -1;
}

body{
  background-image: url("../images/tv.png");
  }

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 20px;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 3px;
  background-color: white;
  z-index: 4;
  }

h2{
  font-family: 'cashews';
  font-weight: bold;
  text-decoration: underline yellow;
}

h3{
  color: green;
  font-style: italic;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

h4{
  color: red;
  font-style: italic;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

section.characters li{
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 25px;
}

li span {
    position: relative;
    left: -10px;
}

section.characters img{
  position: inline;
  top: 60px;
  left: 0px;
  padding: 10px;
  float: left;
  width: 45%;
}

section.jess img {
    padding-right: 10px;
}

section.winston img {
    padding-right: 10px;
}

section.winston {
    overflow: auto;
    height: auto;
  }


blockquote {
    float: right;
    width: 45%;
    font-size: 125%;
    font-style: italic;
    margin: 0px 0px 10px 10px;
    padding: 5px;
    border-top: 1px solid#665544;
    border-bottom: 1px solid #665544;
    margin-top: 10px;
}

div.ferguson{
  position: absolute;
  top: -20px;
  left: 0px;
  animation: drive 7s alternate infinite linear,
            jump 2s 3.2s ease infinite;
}

@keyframes drive{
  from{
    transform: translatex(-200px);
  }
  to{
    transform: translatex(1000px);
  }
}

@keyframes jump{
  0%{
    top: -40%;
  }
  50%{
    top: -100px;
  }
  100%{
    top: -40px;
  }
