/*----------------------
Universal Styling
  -------------*/
*{
  margin: 0;
  padding: 0;
  border: 0;
}

  /*----------------------
Font CSS
  -------------*/

@font-face {
  font-family: 'cashews';
  src: url('../fonts/cashews.ttf') format('truetype');
}

font-family{
  font-family: 'opensans-regular', sans-serif;
}

p{
  background-color: white;
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: regular;
  text-align: left;
}

/*---------------
Nav css
---------------*/
.ul{
  list-style-type: none;
  padding: 0;
  background: white;
  }

li {
      display: inline;
      padding: 5px;
  }
/*----------
Body css
------*/
section.about-new-girl img{
  position: absolute;
  top: 60px;
  left: 0px;
  z-index: -1;
}

section.about-new-girl {
  margin: 70px 0px 0px 10px;
}

body{
  background-image: url("../images/tv.png");
  }

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 20px;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 3px;
  background-color: white;
  z-index: 4;
  }

h2{
  font-family: 'cashews';
  font-weight: bold;
  text-decoration: underline yellow;
}

h3{
  color: green;
  font-style: italic;
  text-align: center;
}

section{
  background-color: white;
  border-radius: 20px;
  border-style: dotted;
  margin: 10px;
  padding: 15px;
  width: 500px;
}

.characters {
  border-radius: 30px;
  border-style: groove;
  border-width:thick;
}

section.characters{
  position: relative;
  top: 10px;
  left: 100px;
}

section.characters img{
  position: inline;
  top: 60px;
  left: 0px;
}

span.jess img {
    float: left;
    padding: 15px 10px 15px;
}

blockquote {
    float: none;
    width: 400px;
    font-size: 125%;
    font-style: italic;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid#665544;
    border-bottom: 1px solid #665544;
}
